// fonts and colors
//$accentColor: #f8fb05;
//$primaryFont: "Kumar One", cursive;

$primary-color: #c4cfd0;
$special-orange: #f24d29;
$special-blue: #1c366b;


$header-font:"Oswald", sans-serif;
$main-font:"Roboto Mono", monospace;