@import 'setup';
@import 'baseStyling';


<<<<<<< HEAD
=======
// GENERAL STYLES 

>>>>>>> 058de815cb2b09ca5d275c46c13768c6aa41343b
*{font-size: 62.5%;
// border: 1px solid darkcyan;
}
html{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, rgba(8, 78, 219, 0.52), rgba(242, 77, 41, 0.73)),url(https://images.unsplash.com/photo-1585564858955-31686b6ea9ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: $main-font;
    overflow: hidden;
}

.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

//stripping styles
ul,
h1,
h2,
h3,
footer,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
=======
// HEADER STYLES
>>>>>>> 058de815cb2b09ca5d275c46c13768c6aa41343b

h1{
    font-family:$header-font;
    text-transform: uppercase;
    font-size: 12rem;
    color: $primary-color;
    text-align: center;
    padding-top: 90px;
}

h2{
    font-size: 3.5rem;
    text-align: center;
    color: $white;
    text-transform: capitalize;
}

.search-tools{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    padding: 4rem 0;
    margin-top: 4rem;
    border-radius: 13px;
}

// FORM STYLES

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
    
h3{
    font-size: 3rem;
    font-weight: 700;
    color: $darker-blue;
}



 #state-name{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
    border: 3px solid $special-blue;
    background: url('assets/down-arrow.svg');
    background-color: rgba(255, 255, 255, .5);
    padding: 0.8rem;
    box-sizing: border-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 60%, 0 0;
    background-size: 3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

 }

 button{
    font-size: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 13px;
    border: none;
    background-color: $special-blue;
    transition: all 0.5s;
        &:hover,
        &:focus{
            transform:scale(1.1)
        }
    color: $white;
    text-transform: uppercase;
    font-family: $header-font;
 }

//JAVASCRIPT STYLE SECTION = API SEARCH RESULTS

ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

li{
    margin: 1rem;
    width: calc(100% / 2 - 2rem);
    border: 3px solid $darker-blue;
    padding: 10px;
    background-color:  rgba(242,77,41,.5);
    transition: all 0.5s;
        &:hover,
        &:focus-within{
        transform: scale(1.05);
    }
    p{
        font-size: 1.6rem;
    }

}

a {
    color: $special-blue;
<<<<<<< HEAD
=======
    text-decoration: none;
>>>>>>> 058de815cb2b09ca5d275c46c13768c6aa41343b
}
    



// FOOTER STYLES

 footer{
     font-size: 3rem;
     text-align: center;
     background-color: $darker-blue;
     color: $white;
     bottom: 0;
     position: fixed;
     width: 100%;
     padding: 5px 0;
 }

 //Bubbles

#bubbles{
    height: 100%,
    padding:100px 0;  
}
.bubble {
    width: 60px;
    height: 60px;
    background: rgba(242, 77, 41);
    border-radius: 50%;
    position: absolute;
  }

  .x1 {
    opacity: 0.2;
    transform: scale(0.9);
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .x2 {
    opacity: 0.5;
    left: 200px;
    transform: scale(0.6);
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }

  .x3 {
    left: 350px;
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }

//   .x4 {
//     left: 500px;
//     transform: scale(0.8);
//     // opacity: 0.35;
//     -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
//     -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
//     -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
//     animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
// }



// .x5 {
//     left: 150px;
//     -webkit-transform: scale(0.8);
//     -moz-transform: scale(0.8);
//     transform: scale(0.8);
//     // opacity: 0.3; 
//     animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
//     -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
//     -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
//     -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
// }


@keyframes moveclouds{
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@keyframes sideways {
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
  @-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}
@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
 

//MEDIA QUERIES START

@media (max-width: 840px){
    h1{
        font-size: 10rem;
        margin-bottom: 60px;
    }
    h2{
        margin-bottom: 9rem;
    }
    footer{
        margin-top: 0;
    }
    li{
        width: 100%;
    }

}

@media (max-width: 600px){
    h1{
        font-size: 5.5rem;
        margin-bottom: 30px;
        padding-top:70px;
    }
    h2{
        font-size: 2.3rem;
        margin-bottom: 5rem;
    }
    h3{
        font-size: 2.5rem;
    }

    .search-tools div{
        width: 80%;
    }

    #state-name{
        font-size: 2.5rem;
        background-size:2rem;
    }
    button{
        font-size: 2.5rem;
        border-radius: 25px;
        margin-top: 40px;
    }

}