html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-size: 62.5%;
  border: 1px solid darkcyan;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 78, 219, 0.52)), to(rgba(242, 77, 41, 0.73))), url(https://images.unsplash.com/photo-1585564858955-31686b6ea9ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-image: linear-gradient(to bottom, rgba(8, 78, 219, 0.52), rgba(242, 77, 41, 0.73)), url(https://images.unsplash.com/photo-1585564858955-31686b6ea9ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul,
h1,
h2,
h3,
footer,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 12rem;
  color: #c4cfd0;
  text-align: center;
  padding-top: 90px;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: #FFF;
}

.search-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(196, 207, 208, 0.8);
  padding: 4rem 0;
  margin-top: 4rem;
  border-radius: 13px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #0b204c;
}

#country-name {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
  border: 0.5rem solid rgba(242, 77, 41, 0.5);
  background: url("assets/down-arrow.svg");
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 60%, 0 0;
  background-size: 3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button {
  font-size: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 13px;
  border: none;
  background-color: rgba(242, 77, 41, 0.5);
  border: 4px solid #1c366b;
  color: #FFF;
}

button:hover {
  background-color: #1c366b;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li {
  font-size: 2rem;
  margin: 1rem;
  width: calc(100% / 2 - 2rem);
  border: 0.5rem solid #0b204c;
  padding: 10px;
}

footer {
  font-size: 3rem;
  text-align: center;
  background-color: #0b204c;
  color: #FFF;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px 0;
}

@media (max-width: 840px) {
  h1 {
    font-size: 10rem;
    margin-bottom: 60px;
  }
  h2 {
    margin-bottom: 9rem;
  }
  footer {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 5.5rem;
    margin-bottom: 30px;
    padding-top: 70px;
  }
  h2 {
    font-size: 2.3rem;
    margin-bottom: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .search-tools div {
    width: 80%;
  }
  #country-name {
    font-size: 2.5rem;
    background-size: 2rem;
  }
  button {
    font-size: 2.5rem;
    border-radius: 25px;
    margin-top: 40px;
  }
  li {
    width: 100%;
  }
}
